<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>

<bean id="c1" class=" com.sprinapp1.model.Candidate" init-method="myInit" destroy-method="myDestroy">
   <property name="name" value="Ram" />
   <property name="age" value="1000" />
   <property name="address" value="Ayodhya" />
</bean>
<bean id="dao" class="com.sprinapp1.service.MathService"></bean>

 <bean id="sc" class="com.sprinapp1.model.SpellChecker"></bean>
 <bean id="te" class="com.sprinapp1.model.TextEditor">
 	<!--  <property name="spellChecker" ref="sc"/> -->
 	
 	<!-- The ref attribute indicates binding the existing object manually(while using setter and constructors) -->
 	<constructor-arg type="SpellChecker" ref="sc"></constructor-arg>
 </bean>

<!-- For byName to work, the id should be same as attribute name in that class -->
<!-- For byType, the checking is done on the basis of object type, hence, no need of same names -->
<bean id="department" class="com.sprinapp1.model.Department">
	<property name="name" value="Sales-Mumbai66"/>
</bean>

<bean id="emp" class="com.sprinapp1.model.Employee" autowire="byName">
	<property name="fullname" value="Ram Das"/>
</bean>
</beans>
